.square {
    height: 75px;
    width: 75px;
    position: absolute;
    text-align: right;
}

.square1 {    
    background-color: rgb(105, 21, 21);   
    z-index: 5;
    
}

.square2 {    
    background-color: powderblue;   
    z-index: 4;
    left:32px;
}

.square3 {    
    background-color: goldenrod;  
    z-index: 3; 
    left: 48px;
}

.square4 {    
    background-color: yellowgreen;   
    z-index: 2; 
    left: 64px;
}

.square5 {   
    background-color: blueviolet;  
    z-index: 1;  
    left: 85px;
    
}